name: Deploy Static Site

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 400 key.pem

      - name: Deploy to EC2
        run: |
          ssh -i key.pem ubuntu@${{ secrets.HOST_DNS }} "mkdir -p ${{ secrets.TARGET_DIR }} && echo '${{ secrets.USERNAME }}' > ${{ secrets.TARGET_DIR }}/user.txt"
